.filter {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 15px;
}

.filter-width {
  padding: 10px;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
}

.filter-width__items {
  font-size: 1.1rem;
  padding: 5px;
}
